/*Top////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
button {
    
    margin-top: 10px;
    padding: 10px;
    background: yellow;
    color: black;
    border-radius: 8px;
  }

  #input {
    padding: 10px;
    height: 13px;
    border-radius: 8px;
  }
  #search {
    margin-top: 10px;
  }
  
  

  #search[type=submit]:hover {
    background-color: black;
    color : yellow;
    border-radius: 8px;
  }


/* active hover*/
.topnav a.active {
    background-color: yellow;
    color: black;
  }
 



  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    width: 100%;
    border: solid 3px yellow;
    border-radius: 8px;
    
  }


  .topnav a {
    float: right;
    color: yellow;
    font-family: "Hind Siliguri";
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:20px;
    font-style: normal;
    font-weight: 100;
    margin-bottom: 50px;
  }
  
  
  .topnav a:hover {
    background-color: yellow;
    color: black;
  }
  

  body {
      background-color: #0b0b0c;
      
  }

  .slides{
    margin: auto;
    width: 9%
  }
  .slider{
    text-align: center;
    margin: auto;

  }
 
  /*contact form //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


  .contact-body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 20px;
    border: 3px black solid;


  }

  .input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border: 3px black solid;
  }

  .input[type=submit] {
    background-color: yellow;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 3px black solid; 
    
  }

  .contact[type=submit]:hover {
    background-color: black;
    color : yellow;
    border-radius: 8px;

  }

  .container {
    border-radius: 5px;
    background-color: yellow;
    padding: 20px;
    font-family: "Hind Siliguri";

  }

  .contact{
    height: 25px;
    border-radius: 4px;
    border: 3px black solid; 
  }

  #email {
    width: 260px;
  }
  /* Our partner div style////////////////////////////////////////////////////////////////////////////////////////////////////////*/

  .column img {
    border-radius: 8px;
    margin-top: 100px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    
    
  }
  .column p {
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0px;
    color: yellow;
    font-family: "Hind Siliguri";
}

.column  {
 text-align: center;
 border: solid 3px yellow;
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 90px;
 width: 100%;  
 border-radius: 8px;
}



 /* Pricing style////////////////////////////////////////////////////////////////////////////////////////////////////////*/
 #rech{
  height: 25px;
  border-radius: 8px;
   
  background: yellow;
  color: black;
  
}
#rech:hover {
  background-color: black;
  color: yellow;
}

#edit-dimensions{
  background: black;
  color: yellow;
}

#searching{
  color: yellow;
  font-family: "Hind Siliguri";
  text-decoration: none;
  font-size:20px;
  font-style: normal;
  font-weight: 100;
}